@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Access Denied</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/css/bootstrap-icons.min.css" />
</head>

<body>
    <main>
        <div class="d-flex justify-content-center align-items-center vh-100 bg-secondary">
            <div class="bg-white p-4 rounded-4">
                <div class="text-center mb-2">
                    <img src="~/img/account_4817274_0.png" class="rounded-3" style="width: 300px; height: 250px;" />
                </div>
                <div class="text-danger text-center mb-2">
                    <h1>การเข้าถึงถูกปฏิเสธ</h1>
                </div>
                <div class="d-grid text-center">
                    <a asp-action="Index" class="btn btn-dark">กลับหน้าหลัก</a>
                </div>
            </div>
        </div>
    </main>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>