@* @model FinalProject.Models.ViewModels.ForgotPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Login</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/css/bootstrap-icons.min.css" />
</head>

<body>
    <div class="d-flex justify-content-center align-items-center vh-100 bg-secondary">
        <div class="bg-white p-4 rounded-4 w-25">
            <div>
                <h1 class="text-center text-primary mb-0">ลืมรหัสผ่าน</h1>
                <hr />
            </div>
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="was-validated">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" type="email" class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />
                <button type="submit" class="btn btn-success w-100">
                    <i class="bi bi-send"></i> ส่ง
                </button>
            </form>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }

    }
</body>

</html> *@